<!DOCTYPE html>
<html>
<head>
    <title>Pressroom - Responsive News &amp; Magazine Template</title>
    <!--meta-->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.2"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="keywords" content="Medic, Medical Center"/>
    <meta name="description" content="Responsive Medical Health Template"/>
    <!--style-->
    <link href='//fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="style/reset.css">
    <link rel="stylesheet" type="text/css" href="style/superfish.css">
    <link rel="stylesheet" type="text/css" href="style/prettyPhoto.css">
    <link rel="stylesheet" type="text/css" href="style/jquery.qtip.css">
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <link rel="stylesheet" type="text/css" href="style/menu_styles.css">
    <link rel="stylesheet" type="text/css" href="style/animations.css">
    <link rel="stylesheet" type="text/css" href="style/responsive.css">
    <link rel="stylesheet" type="text/css" href="style/odometer-theme-default.css">
    <!--<link rel="stylesheet" type="text/css" href="style/dark_skin.css">-->
    <!--<link rel="stylesheet" type="text/css" href="style/high_contrast_skin.css">-->
    <link rel="shortcut icon" href="images/favicon.ico">
</head>
<body>
<div class="site_container">
    <div th:include="header.html"></div>
    <div class="page">
        <div class="page_header clearfix page_margin_top">
            <div class="page_header_left">
                <h1 class="page_title">Error 404</h1>
            </div>
        </div>
        <div class="page_layout clearfix">
            <div class="divider_block clearfix">
                <hr class="divider first">
                <hr class="divider subheader_arrow">
                <hr class="divider last">
            </div>
            <div class="row page_margin_top">
                <div class="column column_1_1">
                    <div class="item_content clearfix">
                        <span class="features_icon not_found animated_element animation-scale"></span>
                        <div class="text">
                            <h1 class="about_title">Lỗi</h1>
                            <h1 class="about_subtitle">Không tìm thấy trang</h1>
                        </div>
                    </div>
                    <h3 class="page_margin_top">Trang không hợp lệ hoặc đã hết hạn.<br>
                        Vui lòng thử lại sau hoặc trở về <strong><a th:href="@{/search}">TRANG CHỦ</a></strong>.</h3>
                </div>
            </div>
        </div>
    </div>
    <div th:include="footer.html"></div>
</div>
<div class="background_overlay"></div>
<!--js-->
<script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="js/jquery.ba-bbq.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.12.1.custom.min.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.4.1.min.js"></script>
<script type="text/javascript" src="js/jquery.carouFredSel-6.2.1-packed.js"></script>
<script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
<script type="text/javascript" src="js/jquery.transit.min.js"></script>
<script type="text/javascript" src="js/jquery.sliderControl.js"></script>
<script type="text/javascript" src="js/jquery.timeago.js"></script>
<script type="text/javascript" src="js/jquery.hint.js"></script>
<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="js/jquery.qtip.min.js"></script>
<script type="text/javascript" src="js/jquery.blockUI.js"></script>
<script type="text/javascript" src="js/jquery.imagesloaded-packed.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/odometer.min.js"></script>
</body>
</html>