<!DOCTYPE html>
<html>
<head>
    <title>Thesis News</title>
    <!--meta-->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.2"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="keywords" content="Medic, Medical Center"/>
    <meta name="description" content="Responsive Medical Health Template"/>
    <!--style-->
    <link href='//fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" th:href="@{style/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{style/superfish.css}">
    <link rel="stylesheet" type="text/css" th:href="@{style/prettyPhoto.css}">
    <link rel="stylesheet" type="text/css" th:href="@{style/jquery.qtip.css}">
    <link rel="stylesheet" type="text/css" th:href="@{style/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{style/menu_styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{style/animations.css}">
    <link rel="stylesheet" type="text/css" th:href="@{style/responsive.css}">
    <link rel="stylesheet" type="text/css" th:href="@{style/odometer-theme-default.css}">
    <link rel="shortcut icon" href="images/favicon.ico">
</head>
<body>
<div class="site_container">
	<div th:include="header.html" th:with="topic=${searchForm.getTopic()}">
    </div>
    <div class="page">
        <div class="page_header clearfix page_margin_top">
            <div class="page_header_left">
                <h1 class="page_title" th:text="${searchForm.getTopic()}"></h1>
            </div>
        </div>
        <div class="page_layout clearfix">
            <div class="divider_block clearfix">
                <hr class="divider first">
                <hr class="divider subheader_arrow">
                <hr class="divider last">
            </div>
            <div class="row">
                <div class="column column_1_1">
                    <div class="row">
                        <ul class="blog column column_1_1">
                            <li class="post search_post" th:each="article : ${searchForm.getArticles()}">
                                <div class="post_details">
                                    <h3 class="with_number">
                                        <a th:href="@{'/post?id=' + ${article.getId()}}" th:title="@{${article.getTitle()}}"
                                           th:text="@{${article.getTitle()}}"></a>
                                        <!--                                    <a class="comments_number" href="post.html#comments_list" title="2 comments">2<span-->
                                        <!--                                            class="arrow_comments"></span></a>-->
                                    </h3>
                                    <ul class="post_details">
                                        <li class="category"><a
                                                                th:title="@{${article.getTopics().get(0)}}"
                                                                th:text="@{${article.getTopics().get(0)}}"></a></li>
                                        <li class="date"
                                            th:text="${#dates.format(article.getPublicationDate() * 1000, 'HH:mm, dd/MM/yyyy')}">
                                        </li>
                                    </ul>
                                    <p th:text="@{${article.getDescription()}}"></p>
                                    <!--                                    <a class="read_more" href="post.html" title="Read more"><span-->
                                    <!--                                            class="arrow"></span><span>READ MORE</span></a>-->
                                </div>
                                <div class="search_post_img">
                                    <a th:href="@{'/post?id=' + ${article.getId()}}" th:title="@{${article.getTitle()}}">
                                        <img src='images/samples/330x242/no_image.png' alt='img'>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <ul th:if="${searchForm.getTotalPage() > 0}" class="pagination clearfix page_margin_top_section">
                        <li class="left" th:if="${searchForm.getPage() > 1}">
                            <a th:href="@{'/topic?v=' +${searchForm.getTopic()}+  '&page=' + ${searchForm.getPage() - 1}}" title="">&nbsp;</a>
                        </li>
                        <th:block th:each="pageNumber : ${#numbers.sequence(searchForm.getPage() - 3, searchForm.getPage() - 1)}">
                            <li th:if="${pageNumber>0}"><a th:href="@{'/topic?v=' +${searchForm.getTopic()}+  '&page=' + ${pageNumber}}"><span th:text="${pageNumber}">1</span></a></li>
                        </th:block>

                        <li class="selected"><a title="" th:text="${searchForm.getPage()}"></a></li>

                        <th:block th:each="pageNumber : ${#numbers.sequence(searchForm.getPage() + 1, searchForm.getPage() + 3)}">
                            <li th:if="${pageNumber<searchForm.getTotalPage()}"><a th:href="@{'/topic?v=' +${searchForm.getTopic()}+  '&page=' + ${pageNumber}}"><span th:text="${pageNumber}">1</span></a></li>
                        </th:block>
                        <li class="right" th:if="${searchForm.getPage() < searchForm.getTotalPage() - 1}">
                            <a th:href="@{'/topic?v=' +${searchForm.getTopic()}+  '&page=' + ${searchForm.getPage() + 1}}" title="">&nbsp;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
	<div th:include="footer.html"></div>
</div>
<div class="background_overlay"></div>
<!--js-->
<script type="text/javascript" th:src="@{js/jquery-3.6.0.min.js}"></script>
<script type="text/javascript" th:src="@{js/jquery.ba-bbq.min.js}"></script>
<script type="text/javascript" th:src="@{js/jquery-ui-1.12.1.custom.min.js}"></script>
<script type="text/javascript" th:src="@{js/jquery.easing.1.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{js/jquery.carouFredSel-6.2.1-packed.js}"></script>
<script type="text/javascript" th:src="@{js/jquery.touchSwipe.min.js}"></script>
<script type="text/javascript" th:src="@{js/jquery.transit.min.js}"></script>
<script type="text/javascript" th:src="@{js/jquery.sliderControl.js}"></script>
<script type="text/javascript" th:src="@{js/jquery.timeago.js}"></script>
<script type="text/javascript" th:src="@{js/jquery.hint.js}"></script>
<script type="text/javascript" th:src="@{js/jquery.prettyPhoto.js}"></script>
<script type="text/javascript" th:src="@{js/jquery.qtip.min.js}"></script>
<script type="text/javascript" th:src="@{js/jquery.blockUI.js}"></script>
<script type="text/javascript" th:src="@{js/jquery.imagesloaded-packed.js}"></script>
<script type="text/javascript" th:src="@{js/main.js}"></script>
<script type="text/javascript" th:src="@{js/odometer.min.js}"></script>
</body>
</html>