<div class="footer_container">
    <div class="footer clearfix">
        <div class="row">
            <div class="column column_1_1">
                <h4 class="box_header">Giới thiệu</h4>
                <p class="padding_top_bottom_25">Thesis News - Áp dụng xử lý ngôn ngữ tự nhiên để tăng độ chính xác cũng như gợi ý những bài báo có từ khóa gần giống mô tả của người dùng</p>
            </div>
        </div>
        <div class="row copyright_row">
            <div class="column column_2_3">
                © Source code: <a href="https://github.com/lqc-repos/5851071007-datn" target="_blank">Github</a>
            </div>
        </div>
    </div>
</div>