<div class="header_top_bar_container clearfix">
    <div class="header_top_bar">
        <form class="search" th:action="${URLConst.SEARCH}" method="get">
            <input type="text" name="s" placeholder="Tìm kiếm..." value="" class="search_input hint">
            <input type="submit" class="search_submit" value="">
        </form>
        <div class="latest_news_scrolling_list_container">
<!--            <ul>-->
<!--                <li class="category">ĐỌC BÁO</li>-->
<!--                <li class="left"><a href="#"></a></li>-->
<!--                <li class="right"><a href="#"></a></li>-->
<!--                <li class="posts">-->
<!--                    <ul class="latest_news_scrolling_list">-->
<!--                        <li th:each="latestArt : ${latestArticles}">-->
<!--                            <a href="post.html" title="" th:text="${latestArt.getTitle()}"></a>-->
<!--                            <span class="date">-->
<!--                                     <abbr class="timeago current"-->
<!--                                           th:text="${#dates.format(latestArt.getPublicationDate() * 1000, 'dd/MM/yyyy')}"></abbr>-->
<!--                                </span>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--            </ul>-->
        </div>
    </div>
</div>
<div class="header_container">
    <div class="header clearfix">
        <div class="logo">
            <h1><a th:href="${URLConst.HOME}" title="Pressroom">Thesis News</a></h1>
            <h4>News with NLP Search</h4>
        </div>
        <div class="placeholder">728 x 90</div>
    </div>
</div>
<div class="menu_container clearfix">
    <nav>
        <ul class="sf-menu">
            <li th:class="${topic == null ? 'selected' : ''}">
                <a th:href="${URLConst.HOME}" th:text="#{search.search}">
                </a>
            </li>
            <li th:class="${topic == 'Thời sự' ? 'selected' : ''}">
                <a th:href="@{'/topic?v=Thời sự'}" th:text="#{topic.thoi-su}">
                </a>
            </li>
            <li th:class="${topic == 'Góc nhìn' ? 'selected' : ''}">
                <a th:href="@{'/topic?v=Góc nhìn'}" th:text="#{topic.goc-nhin}">
                </a>
            </li>
            <li th:class="${topic == 'Thế giới' ? 'selected' : ''}">
                <a th:href="@{'/topic?v=Thế giới'}" th:text="#{topic.the-gioi}">
                </a>
            </li>
            <li th:class="${topic == 'Kinh doanh' ? 'selected' : ''}">
                <a th:href="@{'/topic?v=Kinh doanh'}" th:text="#{topic.kinh-doanh}">
                </a>
            </li>
            <li th:class="${topic == 'Bất động sản' ? 'selected' : ''}">
                <a th:href="@{'/topic?v=Bất động sản'}" th:text="#{topic.bat-dong-san}">
                </a>
            </li>
            <li th:class="${topic != null and !#lists.contains({'Thời sự', 'Góc nhìn', 'Thế giới','Kinh doanh','Bất động sản'}, topic) ? 'selected submenu' : 'submenu'}">
            <a href="#">
                    Chủ đề khác
                </a>
                <ul>
                    <li>
                        <a th:href="@{'/topic?v=Khoa học'}" th:text="#{topic.khoa-hoc}">
                        </a>
                    </li>
                    <li>
                        <a th:href="@{'/topic?v=Giải trí'}" th:text="#{topic.giai-tri}">
                        </a>
                    </li>
                    <li>
                        <a th:href="@{'/topic?v=Thể thao'}" th:text="#{topic.the-thao}">
                        </a>
                    </li>
                    <li>
                        <a th:href="@{'/topic?v=Pháp luật'}" th:text="#{topic.phap-luat}">
                        </a>
                    </li>
                    <li>
                        <a th:href="@{'/topic?v=Giáo dục'}" th:text="#{topic.giao-duc}">
                        </a>
                    </li>
                    <li>
                        <a th:href="@{'/topic?v=Sức khỏe'}" th:text="#{topic.suc-khoe}">
                        </a>
                    </li>
                    <li>
                        <a th:href="@{'/topic?v=Đời sống'}" th:text="#{topic.doi-song}">
                        </a>
                    </li>
                    <li>
                        <a th:href="@{'/topic?v=Du lịch'}" th:text="#{topic.du-lich}">
                        </a>
                    </li>
                    <li>
                        <a th:href="@{'/topic?v=Số hóa'}" th:text="#{topic.so-hoa}">
                        </a>
                    </li>
                    <li>
                        <a th:href="@{'/topic?v=Xe'}" th:text="#{topic.xe}">
                        </a>
                    </li>
                    <li>
                        <a th:href="@{'/topic?v=Ý kiến'}" th:text="#{topic.y-kien}">
                        </a>
                    </li>
                    <li>
                        <a th:href="@{'/topic?v=Tâm sự'}" th:text="#{topic.tam-su}">
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="mobile_menu_container">
        <a href="#" class="mobile-menu-switch">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </a>
        <div class="mobile-menu-divider"></div>
        <nav>
            <ul class="mobile-menu">
                <li th:class="${topic == null ? 'selected' : ''}">
                    <a th:href="${URLConst.HOME}" th:text="#{search.search}">
                    </a>
                </li>
                <li th:class="${topic == 'Thời sự' ? 'selected' : ''}">
                    <a th:href="@{'/topic?v=Thời sự'}" th:text="#{topic.thoi-su}">
                    </a>
                </li>
                <li th:class="${topic == 'Góc nhìn' ? 'selected' : ''}">
                    <a th:href="@{'/topic?v=Góc nhìn'}" th:text="#{topic.goc-nhin}">
                    </a>
                </li>
                <li th:class="${topic == 'Thế giới' ? 'selected' : ''}">
                    <a th:href="@{'/topic?v=Thế giới'}" th:text="#{topic.the-gioi}">
                    </a>
                </li>
                <li th:class="${topic == 'Kinh doanh' ? 'selected' : ''}">
                    <a th:href="@{'/topic?v=Kinh doanh'}" th:text="#{topic.kinh-doanh}">
                    </a>
                </li>
                <li th:class="${topic == 'Bất động sản' ? 'selected' : ''}">
                    <a th:href="@{'/topic?v=Bất động sản'}" th:text="#{topic.bat-dong-san}">
                    </a>
                </li>
                <li th:class="${topic != null and !#lists.contains({'Thời sự', 'Góc nhìn', 'Thế giới','Kinh doanh','Bất động sản'}, topic) ? 'selected submenu' : 'submenu'}">
                    <a href="#">
                        Chủ đề khác
                    </a>
                    <ul>
                        <li>
                            <a th:href="@{'/topic?v=Khoa học'}" th:text="#{topic.khoa-hoc}">
                            </a>
                        </li>
                        <li>
                            <a th:href="@{'/topic?v=Giải trí'}" th:text="#{topic.giai-tri}">
                            </a>
                        </li>
                        <li>
                            <a th:href="@{'/topic?v=Thể thao'}" th:text="#{topic.the-thao}">
                            </a>
                        </li>
                        <li>
                            <a th:href="@{'/topic?v=Pháp luật'}" th:text="#{topic.phap-luat}">
                            </a>
                        </li>
                        <li>
                            <a th:href="@{'/topic?v=Giáo dục'}" th:text="#{topic.giao-duc}">
                            </a>
                        </li>
                        <li>
                            <a th:href="@{'/topic?v=Sức khỏe'}" th:text="#{topic.suc-khoe}">
                            </a>
                        </li>
                        <li>
                            <a th:href="@{'/topic?v=Đời sống'}" th:text="#{topic.doi-song}">
                            </a>
                        </li>
                        <li>
                            <a th:href="@{'/topic?v=Du lịch'}" th:text="#{topic.du-lich}">
                            </a>
                        </li>
                        <li>
                            <a th:href="@{'/topic?v=Số hóa'}" th:text="#{topic.so-hoa}">
                            </a>
                        </li>
                        <li>
                            <a th:href="@{'/topic?v=Xe'}" th:text="#{topic.xe}">
                            </a>
                        </li>
                        <li>
                            <a th:href="@{'/topic?v=Ý kiến'}" th:text="#{topic.y-kien}">
                            </a>
                        </li>
                        <li>
                            <a th:href="@{'/topic?v=Tâm sự'}" th:text="#{topic.tam-su}">
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>